@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme inline {
  /* Base colors */
  --ghost-white: #F5F5F5;
  --smoky-black: #070600;
  --amaranth: #E42548;
  --celestial-blue: #279AF1;
  --aero: #32C2DF;
  --davys-gray:#4F4B4B;

  /* Semantic colors */
  --color-background: var(--ghost-white);
  --color-on-primary: var(--ghost-white);
  --color-primary: var(--celestial-blue);
  --color-secondary: var(--amaranth);
  --color-muted: var(--davys-gray);
  --color-foreground: var(--smoky-black);
  --color-highlight: var(--aero);

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
