@import "tailwindcss";

@theme inline {
  /* Base colors */
  --ghost-white: #f5f5f5;
  --smoky-black: #070600;
  --amaranth: #c00e2e;
  --celestial-blue: #0077cc;
  --aero: #0088a8;
  --davys-gray: #7a7474;

  /* Semantic colors */
  --color-background: var(--ghost-white);
  --color-on-primary: var(--ghost-white);
  --color-primary: var(--celestial-blue);
  --color-secondary: var(--amaranth);
  --color-muted: var(--davys-gray);
  --color-foreground: var(--smoky-black);
  --color-highlight: var(--aero);

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --color-background: #0e0e11;
  --color-foreground: #d6d5d5;
  --color-on-primary: #0e0e11;
  --color-primary: #318ae3;
  --color-secondary: #e05a70;
  --color-muted: #b3b3b3;
  --color-highlight: #45a8c4;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
}
