
@import "tailwindcss";

@theme inline {
  /* Base colors */
  --ghost-white: #f5f5f5;
  --smoky-black: #070600;
  --amaranth: #e42548;
  --celestial-blue: #279af1;
  --aero: #32c2df;
  --davys-gray: #7a7474;

  /* Semantic colors */
  --color-background: var(--ghost-white);
  --color-on-primary: var(--ghost-white);
  --color-primary: var(--celestial-blue);
  --color-secondary: var(--amaranth);
  --color-muted: var(--davys-gray);
  --color-foreground: var(--smoky-black);
  --color-highlight: var(--aero);

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --color-background: #0e0e11;
  --color-foreground: #d6d5d5;
  --color-on-primary: #0e0e11;
  --color-primary: #1b65b0;
  --color-secondary: #912a3d;
  --color-muted: #b3b3b3;
  --color-highlight: #247791;
}
