@import "tailwindcss";

@theme inline {
  /* Base theme colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Your custom palette */
  --color-wenge: #584b53;
  --color-rose-taupe: #9d5c63;
  --color-lavender-web: #d6e3f8;
  --color-seashell: #fef5ef;
  --color-desert-sand: #e4bb97;
  
  --eerie-black: #262626ff;
  --ash-gray: #acbfa4ff;
  --beige: #e2e8ceff;
  --orange-wheel: #ff7f11ff;
  --red: #EA526F;
  --wine: #792C38;
  --celestial-blue: #279AF1;
  
  /* Optional: semantic colors */
  --color-primary: var(--beige);
  --color-secondary: var(--ash-gray);
  --color-accent: var(--celestial-blue);
  --color-muted: var(--red);
  --foreground: var(--eerie-black);

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
